.bg-secondary {
    background-color: #191825 !important;
}

.bg-primary {
    background-color: #865dff !important;
}

.copyright {
    background-color: #e384ff;
    color: black !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

#logoNav {
    width: 4.3em;
}

#titleNav {
    text-shadow: 2px 3px 0 #0e0e0e;
}

.divContenidoPaginaInicio {
    width: 500px;
    text-align: justify;
}

#titleAboutUs {
    text-align: center;
}

#paragraphPageAboutUs {
    text-align: justify;
}

#titlePageProducts {
    text-shadow: 2px 3px 0 #ad92fc;
}

#selectIndexProducts {
    background-color: #191825;
    color: white;
    padding: 5.5px;
    width: 150px;
    border-radius: 5px;
    margin-right: 5px;
}

#buttonOrderByPrice {
    margin-left: 10px;
}

#filterPriceItem {
    margin-left: 15px;
}

#members {
    width: 350px;
    height: 350px;
}

#photo {
    max-height: 100px;
}
