.bg-secondary {
    background-color: #ff5347 !important;
}

.bg-primary {
    background-color: #fdb970 !important;
}

.copyright {
    background-color: #ffe858;
    color: black !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

#logoNav {
    width: 4.3em;
}

#tituloNav {
    text-shadow: 2px 3px 0 #0e0e0e;
}

.divContenidoPaginaInicio {
    width: 400px;
    text-align: justify;
}

#parrafoPaginaInicio {
}
