.bg-secondary {
    background-color: #191825 !important;
}

.bg-primary {
    background-color: #865dff !important;
}

.copyright {
    background-color: #e384ff;
    color: black !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

#logoNav {
    width: 4.3em;
}

#tituloNav {
    text-shadow: 2px 3px 0 #0e0e0e;
}

.divContenidoPaginaInicio {
    width: 500px;
    text-align: justify;
}

#parrafoPaginaInicio {
}

#tituloSobreNosotros {
    text-align: center;
}

#parrafoPaginaSobreNosotros {
    text-align: justify;
}
